{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1>Crud</h1>
            <form method="post" action="/salvar">
                <input type="text" class="form-control" name="fraseSalvar" placeholder="Frase a ser salva"/>
                <input type="submit" class="btn btn-default">
            </form>
            <table class="table">
                <thead><tr><td>Frases</td></tr></thead>
                <tbody>
                  {%   for frase in frases %}
                    <tr>
                        <td>{{ frase.frase }}</td>
                        <td><a class="btn btn-danger" href="/apagar/{{ frase.id }}">Apagar</a></td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
{% endblock %}